:root, .light-theme {
  --background: #ECF0F8;
  --text: #03045E;
  --card: #485EA3;
  --hover: #C0CDE1;
  --red: #CC3E28;
  --dark-red: #AA3422;
  --opposite: #010228;
}

.dark-theme {
  --background: #010228;
  --text: #C0CDE1;
  --card: #5B71AE;
  --hover: #1A254C;
  --dark-red: #DA5844;
  --opposite: #ECF0F8;
}

body {
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.3s, color 0.3s;
}