@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse {
  0% {
    background-color: var(--background);
  }
  50% {
    background-color: var(--hover);
  }
  100% {
    background-color: var(--background);
  }
}

.preloader-pulse {
  animation: pulse 2s infinite;
}